jrpc-spring/src/test/java/META-INF/stub-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2014~2016 dinstone<dinstone@163.com>

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.dinstone.com/schema/stub" xmlns:tns="http://www.dinstone.com/schema/stub"
	elementFormDefault="qualified">

	<xsd:element name="null">
		<xsd:annotation>
			<xsd:documentation>
				Defines a single null bean. 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID">
				<xsd:annotation>
					<xsd:documentation source="java:java.lang.Class">
						<![CDATA[ 
							The unique identifier for a bean.
						]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="class" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation source="java:java.lang.Class">
						<![CDATA[ 
							The fully qualified name of the bean's class.
						]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="date">
		<xsd:annotation>
			<xsd:documentation>
				Defines a single date bean. 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID">
				<xsd:annotation>
					<xsd:documentation source="java:java.lang.Class">
						<![CDATA[ 
							The unique identifier for a bean.
						]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="value" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation source="java:java.lang.Class">
						<![CDATA[ 
							Date string. For example: 2011年10月20日 16点21分18秒
						]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="pattern" type="xsd:string" use="optional"
				default="yyyy-MM-dd HH:mm:ss">
				<xsd:annotation>
					<xsd:documentation source="java:java.lang.Class">
						<![CDATA[ 
							Date pattern. default pattern: yyyy-MM-dd HH:mm:ss.
						]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

</schema>